*.sldprt filter=lfs diff=lfs merge=lfs -text
*.prt filter=lfs diff=lfs merge=lfs -text
*.sldasm filter=lfs diff=lfs merge=lfs -text
*.asm filter=lfs diff=lfs merge=lfs -text
*.CWR filter=lfs diff=lfs merge=lfs -text
*.SLDASM filter=lfs diff=lfs merge=lfs -text
*.SLDPRT filter=lfs diff=lfs merge=lfs -text
Templates/ filter=lfs diff=lfs merge=lfs -text
3D[[:space:]]Models/Parts[[:space:]]and[[:space:]]Subassemblies/Mechanical/Ceowniki/Ceownik_60_20_2_5.SLDPRT filter=lfs diff=lfs merge=lfs -text
3D[[:space:]]Models/Parts[[:space:]]and[[:space:]]Subassemblies/Mechanical/Ceowniki/Ceownik_60_20_2_5.SLDDRW filter=lfs diff=lfs merge=lfs -text
3D[[:space:]]Models/Parts[[:space:]]and[[:space:]]Subassemblies/Mechanical/Ceowniki/Ceownik_60_40_80_centralny.SLDDRW filter=lfs diff=lfs merge=lfs -text
3D[[:space:]]Models/Parts[[:space:]]and[[:space:]]Subassemblies/Mechanical/Ceowniki/Ceownik_60_40_80_centralny.SLDPRT filter=lfs diff=lfs merge=lfs -text
